<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <form action="" onsubmit="postPassword(event)">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Registered Email" required>
        <button type="submit">send link</button>
    </form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
<script>
    let api=`http://localhost:7000/password`;

   function postPassword(event){
          event.preventDefault();
          let emailD={
            email:document.querySelector('#email').value
          }

          axios.post(`${api}/forgotpassword`,emailD)
         .then((res)=>{
          console.log("Successfully sent post request of forgot password");
         })
         .catch((err)=>{
            console.log("Error posting forgot password request");
         })
   }

    
</script>
</html>