<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <form action="" onsubmit="resetPassword(event)">
        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword" id="newPassword" placeholder="Enter new password" required>
        <button type="submit">Reset Password</button>
    </form>

    <div id="cont"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
<script>
    const resetPassword = (event) => {
        event.preventDefault();
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get('id');
        const newPassword = document.querySelector('#newPassword').value;

        axios.post('http://localhost:7000/password/resetpassword', { id, newPassword })
            .then(response => {
                alert('Password reset successfully');
                window.location.href = 'http://localhost:7000/login';
            })
            .catch(error => {
                document.querySelector('#cont').innerHTML = JSON.stringify(error.response.data);
            });
    };
</script>
</html>
